{% extends "AppBundle:Default:index.html.twig" %}
{% block style %}
{% spaceless %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('css/portfolio-item.css') }}"/>
{% endspaceless %}
{% endblock %}
{% block content %}
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{image.gettitle}}
                    <small>Uploaded by: <a href="{{path('_user', { "slug" : image.getUserId })}}">{{image.getOwner.getUsername}}</a></small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src="{{asset('images/'~image.getFileName~'.'~image.getExtension)}}" alt="">
            </div>

            <div class="col-md-4">
                <h3>Image Description</h3>
                <p>{{image.getdescription}}</p>
                <h3>Image Details</h3>
                <ul>
                    <li>{{image.getresolution}}</li>
                    <li>{{image.getextension}}</li>
                    <li>{{(image.getsize/1024/1024)|number_format(3, '.', ',') ~ ' MB'}}</li>
                    <li>{{image.getcreated|date('g:ia / l M j, Y')}}</li>
                </ul>
            </div>

        </div>
    </div>
{% endblock %}