{% extends "AppBundle:Twig:layout.html.twig" %}
{% block style %}
{% spaceless %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('css/portfolio-item.css') }}"/>
{% endspaceless %}
{% endblock %}
{% block content %}
    <div class="container">
    {% include 'BraincraftedBootstrapBundle::flash.html.twig' with { 'close': true } %}
        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{image.gettitle}}
                    <small>Uploaded by: <a href="{{path('_user', { "userId" : image.getowner.getid })}}">{{image.getOwner.getUsername}}</a></small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">
            <div class="col-md-8">
                <img class="img-responsive" src="{{asset(image.getpath)}}" alt="">
            </div>
            <div class="col-md-4">
                <p><strong>Current Image Rating:</strong>  {{rating|default('None :(')}}</p>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and image.getowner != app.user and hasVoted == false %}
                    <div class="btn-group" role="group" aria-label="...">
                        <form action="{{ path('_image_vote')}}" method="post">
                            <input type="hidden" name="id" value='{{image.getid}}'>
                            <button type="submit" class="btn btn-default" value='1' name="voteValue">Upvote  <span class="glyphicon glyphicon-thumbs-up"></button>
                            <button type="submit" class="btn btn-default" value='-1' name="voteValue">Downvote  <span class="glyphicon glyphicon-thumbs-down"></button>
                        </form>
                    </div>
                {% elseif image.getowner == app.user %}
                    <p>Image owners and guests are not allowed to vote, sorry.</p>
                {% elseif hasVoted == true %}
                    <p>You have already voted.</p>
                {% endif %}
                <hr>
                <a class="collapse-toggle" data-toggle="collapse" href="#descriptionCollapse" aria-expanded="false" aria-controls="descriptionCollapse">
                    <p><strong>Image Description <span class="caret"></span></strong></p>
                </a>
                <div class="collapse in" id="descriptionCollapse">
                    <p>{{image.getdescription}}</p>
                </div>
                <hr>
                <a class="collapse-toggle" data-toggle="collapse" href="#detailsCollapse" aria-expanded="false" aria-controls="detailsCollapse">
                    <p><strong>Image Details <span class="caret"></span></strong></h4>
                </a>
                <div class="collapse in" id="detailsCollapse">
                    <div class="col-xs-6">
                        <ul class="list-unstyled text-right">
                            <li>image resolution</li>
                            <li>file size</li>
                            <li>file uploaded</li>
                            <li>file edited</li>
                        </ul>
                    </div>
                    <div class="col-xs-6">
                        <ul class="list-unstyled text-left">
                            <li>{{image.getresolution}}</li>
                            <li>{{(image.getsize/1024/1024)|number_format(3, '.', ',') ~ ' MB'}}</li>
                            <li>{{image.getcreated|date('g:ia / m-j-Y')}}</li>
                            <li>{{image.getupdated|date('g:ia / m-j-Y')}}</li>
                        </ul>
                    </div>
                </div>
                {% if image.getowner == app.user %}
                    <p><strong>Image owner control panel:</strong></p>
                    {% if form is defined %}
                        {{ form_start(form, { 'style': 'horizontal', 'label_col': 4, 'widget_col': 8, 'col_size': 'sm' }) }}
                        {{ form_end(form) }}
                    {% else %}
                    <div class="col-md-6">
                        <form action="{{path('_image_edit', { 'id' : image.getid } ) }}" class="form-horizontal" method="POST" >
                            <button type="submit" class="btn btn-warning btn-sm form-control" value="edit">Edit Image</button>
                        </form>
                    </div>


                    <div class="col-md-6">
                            <button type="button" name="btn" class="btn btn-danger btn-sm form-control" data-toggle="modal" data-target="#confirmDelete">Delete Image</button>
                    </div>

                <div class="modal fade" id="confirmDelete" tabindex="-1" rolde="dialog" aria-labeledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4>Confirm Delete</h4>
                            </div>
                            <div class="modal-body">
                                <p class="text-center">Are You sure You want to delete this image?</p>
                            </div>
                            <div class="modal-footer">
                                <form action="{{path('_image_delete', { 'id' : image.getid } ) }}" method="POST">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-danger danger" id="confirm">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                    {% endif %}
                {% endif %}
            </div>

        </div>
    </div>
{% endblock %}
