{% extends "AppBundle:Twig:layout.html.twig" %}
{% block style %}
{% spaceless %}
    {{parent()}}
	<link rel="stylesheet" href="{{ asset('css/heroic-features.css') }}"/>
{% endspaceless %}
{% endblock %}
{% block content %}
	   <div class="container">
	   	<br>
        {% include 'BraincraftedBootstrapBundle::flash.html.twig' with { 'close': true } %}
        {% if error is defined %}
            <div>{{ error.message }}</div>
        {% endif %}
        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
        	<h1>Welcome to the sandbox project!</h1>
            <p>A homemade image gallery made by me in spare time using Symfony 2 framework. It's still work in progress, so don't worry too much if You break something! ;)</p>
            <p><a class="btn btn-primary btn-large" href="{{path('_gallery')}}">Go to the gallery!</a>
            </p>
        </header>
        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Latest Uploads:</h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        {% if recent is defined %}
        <div class="row text-center">
        	{% for item in recent %}
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <a href='{{path('_image', { 'id' : item.getId })}}'>
	         		<img src='{{ (item.getpath) | imagine_filter('thumb')}}' class="img-responsive">
                    </a>
                </div>
            </div>
        {% endfor %}
        </div>
        {% endif %}
    </div>
{% endblock %}
