<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}{{ title|default('sandbox|project')}}{% endblock %}</title>
		{% block style %}
		{% spaceless %}
		<link rel="stylesheet" href="{{ asset('css/normalize.css') }}"/>
		<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}"/>
	       <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script  type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
		{% endspaceless %}
		{% endblock %}
	</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="container-fluid" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" rel="home" href="{{path('_home')}}">Code Sandbox</a>
	</div>
	<div class="collapse navbar-collapse collapse in" aria-expanded="true">
		<ul class="nav navbar-nav">
			<li><a href="{{path('_home')}}">Home</a></li>
			<li><a href="{{path('_gallery')}}">Gallery</a></li>
			<li><a href="{{path('_about')}}">About</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
			<li><a href="{{ path('_user', { slug : app.user.id })}}">{{app.user.username}}</a></li>
			<li class="divider-vertical"></li>
			<li><a href="{{ path('logout') }}">Logout</a></li>
    		{% else %}
			<li><a href="{{path('_registration')}}">Sign Up</a></li>
			<li class="divider-vertical"></li>
			<li class="dropdown">
				<a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">Sign In <strong class="caret"></strong></a>
				<ul class="dropdown-menu" role="menu">
					<form action="{{ path('login_check')}}" class="form-group" method="post">
					<fieldset class='textbox' style="padding:10px">
					<li><input class="form-control" style="margin-bottom: 15px;" type="text" id="username" placeholder="Username" value="{{ last_username|default('Username') }}" name="_username"></li>
					<li><input class="form-control" style="margin-bottom: 15px;" type="password" placeholder="Password" id="password" name="_password"></li>
					<div class="checkbox">
					    <label>
					      <input type="checkbox" for="remember-me" id="remember-me" value="1"> Remember me
					    </label>
					  </div>
						<li><input type="submit" class="btn btn-default form-control" value="Sign In"></li>
					</fieldset class='textbox' style="padding:10px">
					</form>
					<li class="divider-vertical"></li>
					<div class="form-group" style="padding-left:10px; padding-right:10px">
					<li><a class="btn btn-warning form-control" href="{{path('_reset')}}">Reset Password</a></li>
				</div>
				</ul>
			</li>
			{% endif %}
		</ul>
	</div>
</div>
</nav>
{% block content %}
{% endblock %}
	 <div class="container"><hr></div>
</body>
</html>
