{% extends "AppBundle:Twig:layout.html.twig" %}
{% block style %}
{% spaceless %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('css/portfolio-item.css') }}"/>
{% endspaceless %}
{% endblock %}
{% block content %}
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">User <b>{{user.getusername}}</b>
                </h1>
            </div>
        </div>
        {% include 'BraincraftedBootstrapBundle::flash.html.twig' %}
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">
           <div class="col-md-8">
                <h3>Just a blank space for now</h3>
                <h3><a href="">Linky</a></h3>
            </div>
            <div class="col-md-4">
                <h3>User Details:</h3>
                {% if app.user == user %}
                <ul>
                    <li>First Name: {{user.getfirstname}}</li>
                    <li>Last Name: {{user.getLastName}}</li>
                    <li>Email: {{user.getEmail}}</li>
                    <li>Joined: {{user.getcreated|date('d-m-Y')}}</li>
                </ul>
                {% else %}
                <ul>
                    <li>First Name: {{user.getfirstname}}</li>
                    <li>Joined: {{user.getcreated|date('d-m-Y')}}</li>
                </ul>
            {% endif %}
            </div>
        </div>
        <hr>
        <div class="row text-center">
            <h3>Last Uploaded items:</h3>
            {% for item in recent %}
            <div class="col-sm-3 col-sm-4 hero-feature">
                <div class="thumbnail">
                    <img src='{{ (item.getFileName~'.'~item.getExtension) | imagine_filter('thumb')}}' class="img-responsive">
                    <div class="caption">
                        <h3>{{item.getTitle|slice(0,10)}}</h3>
                        <p>{{item.getDescription|slice(0,20)}}</p>
                        <p>
                            <a href='{{path('_image', { 'id' : item.getId })}}' class="btn btn-primary" >View Image</a>
                        </p>
                    </div>
                </div>
            </div>
            {% else %}
            <h3>No images uploaded yet.</h3>
            {% endfor %}
        </div>
    </div>
{% endblock %}
