{% extends "AppBundle:Twig:layout.html.twig" %}
{% block style %}
{% spaceless %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('css/portfolio-item.css') }}"/>
{% endspaceless %}
{% endblock %}
{% block content %}
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">User <b>{{user.getusername}}</b>
                </h1>
            </div>
        </div>
        {% include 'BraincraftedBootstrapBundle::flash.html.twig' with { 'close': true } %}

        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">
           <div class="col-md-8">
                <h4>User settings: {{form_errors(passwordForm.plainPassword)}}</h4>
                {% if passwordForm is defined and app.user == user %}
                <button type="button" name="btn" class="btn btn-info btn-sm" data-toggle="modal" data-target="#changePassword">Change Password</button>
                <button type="button" name="btn" class="btn btn-info btn-sm" data-toggle="modal" data-target="#changeEmail">Change Email</button>
                {% if app.user.getEnabled == false %}
                <a class="btn btn-sm btn-danger" href="{{path('_send_verification')}}">Resend Verification Link</a>
                {% endif %}
                <div class="modal fade" id="changeEmail" tabindex="-1" rolde="dialog" aria-labeledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4>Enter new email:</h4>
                            </div>                
                            <div class="modal-body form-horizontal">
                            {{ form_start(emailForm) }}
                                {{ form_row(emailForm.email, {'style': 'horizontal', 'label_col': 4, 'widget_col': 8 }) }}
                            </div>
                            <div class="modal-footer">
                                {{ form_row(emailForm.save, { 'style': 'inline' }) }}
                                {{ form_row(emailForm.Cancel, { 'style': 'inline'}) }}
                            {{ form_end(emailForm) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="changePassword" tabindex="-1" rolde="dialog" aria-labeledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4>Enter new password:</h4>
                            </div>
                            <div class="modal-body">
                            {{ form_start(passwordForm) }}
                                {{ form_row(passwordForm.plainPassword.password) }}
                                {{ form_row(passwordForm.plainPassword.confirm) }}
                            </div>
                            <div class="modal-footer">
                                {{ form_row(passwordForm.save, { 'style': 'inline' }) }}
                                {{ form_row(passwordForm.Cancel, { 'style': 'inline'}) }}
                            {{ form_end(passwordForm) }}
                            </div>
                        </div>
                    </div>
                </div>
                <h4>REST API authentication key:</h4>
                <div class="row">
                    <div class="col-md-8">
                        <div class="highlight">
                            <pre class="geo pre-scrollable">{{user.getApiKey}}</pre>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="col-md-4">
                <h4>User Details:</h4>
                {% if app.user == user %}
                <ul>
                    <li>First Name: {{user.getfirstname}}</li>
                    <li>Last Name: {{user.getLastName}}</li>
                    <li>Email: {{user.getEmail}}</li>
                    <li>Joined: {{user.getcreated|date('d-m-Y')}}</li>
                    <li>Updated: {{user.getupdated|date('H:i:s d-m-Y')}}</li>
                </ul>
                {% else %}
                <ul>
                    <li>First Name: {{user.getfirstname}}</li>
                    <li>Joined: {{user.getcreated|date('d-m-Y')}}</li>
                </ul>
            {% endif %}
            </div>
        </div>
        <hr>
        <div class="row text-center">
            <h3>Last Uploaded items:</h3>
            {% for item in recent %}
            <div class="col-sm-3 col-sm-4 hero-feature">
                <div class="thumbnail">
                    <img src='{{ (item.getpath) | imagine_filter('thumb')}}' class="img-responsive">
                    <div class="caption">
                        <h3>{{item.getTitle|slice(0,10)}}</h3>
                        <p>{{item.getDescription|slice(0,20)}}</p>
                        <p>
                            <a href='{{path('_image', { 'id' : item.getId })}}' class="btn btn-primary" >View Image</a>
                        </p>
                    </div>
                </div>
            </div>
            {% else %}
            <h3>No images uploaded yet.</h3>
            {% endfor %}
        </div>
    </div>
{% endblock %}
